<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Le styles -->
    <link href="https://www.bootcss.com/p/layoutit/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="https://www.bootcss.com/p/layoutit/css/layoutit.css" rel="stylesheet">

    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/js/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/ckeditor/config.js"></script>
    <script type="text/javascript" src="https://www.bootcss.com/p/layoutit/js/scripts.js"></script>
    <title>myBlog</title>
    <style>
        body
        {
            background-image:url('img/4yy778.jpg');
            background-repeat:repeat-x;
        }
    </style>
   </head>

   <body>
   <div class="row-fluid">
       <div class="span12">
           <form class="form-search" style="text-align:right;">
               <label>
                   <input class="input-medium search-query" type="text" />
               </label>
               <button class="btn" type="submit">查找</button>
           </form>
           <div  align="center">
               <img src="img/gopher.jpg" class="img-circle" width="268" height="201"/>
           </div>
           <div  align="center">
               <button class="btn" type="button"><em class="icon-align-left"></em></button>
               <button class="btn" type="button"><em class="icon-align-center"></em></button>
               <button class="btn" type="button"><em class="icon-align-right"></em></button>
           </div>

           <div class="accordion" id="accordion-634219">
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-634219" href="#accordion-element-979366">选项卡 #1</a>
                   </div>
                   <div id="accordion-element-979366" class="accordion-body collapse">
                       <div class="accordion-inner">
                           功能块...
                       </div>
                   </div>
               </div>
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-634219" href="#accordion-element-608708">选项卡 #2</a>
                   </div>
                   <div id="accordion-element-608708" class="accordion-body collapse">
                       <div class="accordion-inner">
                           功能块...
                       </div>
                   </div>
               </div>
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-634219" href="#accordion-element-979377">选项卡 #3</a>
                   </div>
                   <div id="accordion-element-979377" class="accordion-body collapse">
                       <div class="accordion-inner">
                           功能块...
                       </div>
                   </div>
               </div>
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-634219" href="#accordion-element-979388">选项卡 #4</a>
                   </div>
                   <div id="accordion-element-979388" class="accordion-body collapse">
                       <div class="accordion-inner">
                           功能块...
                       </div>
                   </div>
               </div>
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-634219" href="#accordion-element-979399">选项卡 #5</a>
                   </div>
                   <div id="accordion-element-979399" class="accordion-body collapse">
                       <div class="accordion-inner">
                           功能块...
                       </div>
                   </div>
               </div>
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-634219" href="#accordion-element-979300">选项卡 #6</a>
                   </div>
                   <div id="accordion-element-979300" class="accordion-body collapse">
                       <div class="accordion-inner">
                           功能块...
                       </div>
                   </div>
               </div>
           </div>

           <p style="text-align:center; color: #FFFFFF;">
               <strong>我喜欢你</strong>
           </p>
           <p style="text-align:center; color:#FFFFFF;">
               记得想我
           </p>
           <p style="text-align:center; color:#FFFFFF;">
               2804991212@qq.com
           </p>
       </div>
   </div>

   </body>

</html>